#toolbar {
    background: rgba(0, 0, 0, 0);
    margin: 0;
    position: absolute;
    padding: 0;
    border-radius: 0;
    top: 5px;
    left: 5px;
}

#capture_thumbnail {
    position: absolute;
    top: 120px;
    right: 30px;
    width: 200px;
}

#save_current_view {
    position: absolute;
    top: 170px;
    right: 30px;
    width: 200px;
}

#reset_camera_view {
    position: absolute;
    top: 220px;
    right: 30px;
    width: 200px;
}

.btn-download {
    display: block;
    padding: 0 15px;
    border-radius: 20px;
    text-align: center;
    height: 40px;
    border: 1px solid #e5e8ee;
    text-transform: uppercase;
    line-height: 38px;
    font-size: 12px;
}
